.userId{
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.displayFlex{
    display: flex;
}
.alignLeft{
    text-align: left;
}
.limitDescription{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: calc(var(--su2) * -1);
    margin-bottom: var(--su8);
    font-family: var(--theme-post-body-font-family);
    color: var(--fc-medium);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word !important;
}

.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    height: 20rem
  }
  .editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }
  .rdw-editor-main {
    height: 25rem;
  }
  .s-tag-badge{
    color: var(--theme-tag-color);
    background-color: var(--theme-tag-background-color);
    border-color: var(--theme-tag-border-color);
    display: inline-block;
    padding: 0.4em 0.5em;
    margin: var(--su2) var(--su2) var(--su2) 0;
    font-size: var(--fs-fine);
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--br-sm);
  }