.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    color: var(--black-500);
}

.user-gravatar48 {
    float: left;
    width: 48px;
    height: 48px;
}

.user-details {
    margin-left: 9px;
    width: calc(100% - 64px);
    line-height: 1.3;
    word-wrap: break-word;
}