
.stats-container{
    margin-left:16px;
}

.stats-title{
    font-size: 2rem;
}
.stats-info-container{
    display:grid;
    width:250px;
    height:150px;
    border:1px solid #afacac;
    border-radius:5px;
    padding:10px;
    grid-template-columns: [first] 1fr [second] 1fr [third];
    grid-template-rows: [first] 1fr [second] 1fr [third];
    grid-template-areas: "reputation-item reached-item" "answers-item questions-item";
    margin-top:16px;
    font-size:1.5rem;
}


.stats-item-reputation-container {
    grid-area:reputation-item;
    justify-self: start;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.stats-item-reached-container {
    grid-area: reached-item;
    justify-self: start;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.stats-item-answers-container {
    grid-area: answers-item;
    justify-self: start;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.stats-item-questions-container {
    grid-area: questions-item;
    justify-self: start;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.stats-item-heading{
    color: rgb(152, 152, 152);
    font-size:1.2rem;
}

.stats-item-value {
}