.usertag-container{
    border: 1px solid rgb(149, 145, 145);
    border-radius:10px;
    padding:10px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:start;
    width:850px;
    column-gap: 10rem;
}

.usertag-title {
    background-color: rgb(230, 224, 224);
    padding: 8px;
    border-radius: 5px;
    color: rgb(104, 102, 102);
    min-width:150px;
}

.usertag-gold-type {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(244, 192, 5);
    margin-right: 10px;
}

.usertag-no-type{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.usertag-silver-type {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(105, 104, 101);
    margin-right: 10px;
}

.usertag-bronze-type {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgba(255, 115, 0, 0.792);
    margin-right: 10px;
}

.usertag-score {
}

.usertag-posts {
}