#content {
    max-width: 1100px;
    width: calc(100% - 164px);
    background-color: var(--theme-content-background-color);
    border-radius: 0;
    border: 1px solid var(--theme-content-border-color);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    padding: var(--su24);
    box-sizing: border-box;
}

.event-type {
    padding: 3px 5px;
    border-radius: 3px;

}
.answer-type{
    color: var(--black-025);
    background-color: var(--green-300);
}
.comment {
    color: var(--black-025);
    background-color: var(--black-300);
}
.history {
    color: var(--black-500);
    background-color: var(--black-100);
}

a {
    color: var(--theme-link-color);
    text-decoration: none;
    cursor: pointer;
}
a.comment-user.owner {
    padding: 1px 5px;
}
a.comment-user {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
}
.owner {
    border-radius: 3px;
    background-color: hsl(206,96%,90%);
}