.bottom {
    padding-bottom: 10px;
    align-items: center;
    column-gap: var(--su6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: var(--su8);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--su4);

}

.center {
    font-size: var(--fs-headline1);
    margin-bottom: 1em;
}